server/key.pem
server/cert.pem
.license_key
server/__pycache__/
python_licensing/__pycache__/
documentation/src/.$communication.drawio.bkp
documentation/src/.$server-infrastructure.drawio.bkp
python_licensing/python_licensing.egg-info/
python_licensing/dist/
python_licensing/build/
